#body {
  background-color: rgb(45, 76, 66);
}

.section-background {
  background-color: rgb(45, 76, 66);
  
  
}
.deleteButton {
  display:flex;
  justify-content: end;
  align-items: flex-end;
}

footer {
  padding: 0% !important;
  margin-top: 0% !important;
}

