.nav {
  font-size: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  /* padding: 20px; */
  background-color: rgb(33, 51, 36);
}

/* header {
  background-color: rgb(23, 41, 35); 
} */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  color: #fdeabb;
  padding-top: 3rem;
  background-color: rgb(46, 67, 59);

}



